<div class='product-box product-show'>
  <div class='col-xs-12 col-md-8'>
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>


  <div class='col-xs-12 col-md-4'>
    <h2> <%= @product.title %> </h2>
    <div style="height:100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div> 数量 : <%= @product.quantity %> </div>
    <div class="product-price"> ￥ <%= @product.price %> </div>

    <!-- wish_list -->
    <% if current_user && current_user.is_wish_list_owner_of?(@product) %>
      <%= link_to remove_from_wish_list_product_path(@product), method: :post do %>
        <label><i class="fa fa-check  fa-fw"> </i><%= t('wish-list-remove') %></label>
      <% end %>
    <% else %>
      <%= link_to add_to_wish_list_product_path(@product), method: :post do %>
        <label><i class="fa fa-plus  fa-fw"> </i><%= t('wish-list-add') %></label>
      <% end %>
    <% end %>

      <% if @product.quantity > 0 %>
        <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-lg btn-default") %>
      <% else %>
        已销售一空，无法购买
      <% end %>
  </div>
</div>
